# IMDB Movie Regression

In [148]:
# Setting the ast_node_interactivity to "all" will print
# each statement, not only the last one of a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# dataframes and arrays
import pandas as pd
import numpy as np

# plotting libs
import seaborn as sns
from matplotlib import pyplot as plt

# machine learning
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, LabelBinarizer, LabelEncoder, Imputer
from sklearn.base import TransformerMixin

In [149]:
# load data
df = pd.read_csv("movie_metadata.csv")

In [150]:
# some important stats
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

# Create Transformer for Pipe

In [151]:
# base class where the others will inherit from
from sklearn.base import TransformerMixin

In [152]:
# Inherit from so you do not need a fit function
class NoFitMixin:
    def fit(self, df, y=None):
        return self

In [153]:
# class which takes a df and a function and returns the modified df
class DFTransform(TransformerMixin, NoFitMixin):
    def __init__(self, func, copy=False):
        self.func = func
        self.copy = copy

    def transform(self, df):
        df_ = df if not self.copy else df.copy()
        return self.func(df)

In [305]:
# class which takes a df and a function and returns the modified df
class AddMissingCategorialColumns(TransformerMixin):
    def __init__(self, copy=False):
        self.copy = copy
        self.columns = 0
        
    def transform(self, df):
        df_ = df if not self.copy else df.copy()
        self.__add_missing_dummy_columns__(df_)
        self.__rem_additional_dummy_columns__(df_)
        return df_
    
    def fit(self, df, y=None):
        #return df
        self.columns = df.columns.values.tolist()
    
    def __add_missing_dummy_columns__(self, df):
        missing_cols = set( self.columns ) - set( df.columns )
        for c in missing_cols:
            df[c] = 0
            
    def __rem_additional_dummy_columns__(self, df):
        add_cols = set( df.columns ) - set( self.columns )
        for c in add_cols:
            del df[c]

In [239]:
# transforms the genre string to a list: action|drama|... -> [action,drama,...]
class StringToArray(TransformerMixin, NoFitMixin):
    ''' Takes a Pandas Dataframe and two column names as input and transforms the input column '''
    def __init__(self, seperator):
 # e.g. pass in a column name to extract  
        self.seperator = seperator

    def transform(self, df):
        df = df.apply(lambda x: x.split(self.seperator))
        return df

In [240]:
class ArrayExplodePivot(TransformerMixin, NoFitMixin):
    '''Explodes the Array and adds column for each genre with binary field values
    (similar to a LabelBinarizer)'''
    

    def transform(self, X):
        df = self.__explode__(X)
        #df_pivot = self.__pivot__(df)
        #df_pivot.index.names = ["index"]
        test = self.__explode__(X)
        test['val'] = 1
        #return test
        return self.__pivot__(test).fillna(int(0))
        #return self.__join__(X, df_pivot)
    
    def __explode__(self, X):
        rows = []
        ind = 0
        for row in X:
            for element in row:
                rows.append([ind,element])
            ind+=1
        return pd.DataFrame(data=rows, columns=["old_index", "genres"])
    
    def __pivot__(self, X):
        #X["val"] = int(1)
        #return X.pivot(X.index, 'genres')["val"].fillna(int(0))
        return X.pivot(index='old_index', columns='genres', values='val')
        return self

In [241]:
from sklearn.pipeline import Pipeline, FeatureUnion, _transform_one
from sklearn.externals.joblib import Parallel, delayed

class DFFeatureUnion(FeatureUnion):
    def fit_transform(self, X, y=None, **fit_params):
        # non-optimized default implementation; override when a better
        # method is possible
        if y is None:
            # fit method of arity 1 (unsupervised transformation)
            return self.fit(X, **fit_params).transform(X)
        else:
            # fit method of arity 2 (supervised transformation)
            return self.fit(X, y, **fit_params).transform(X)

    def transform(self, X):
        Xs = Parallel(n_jobs=self.n_jobs)(
            delayed(_transform_one)(trans, name, weight, X)
            for name, trans, weight in self._iter())
        return pd.concat(Xs, axis=1, join='inner')

# Pipeline Test

In [242]:
genrePipeline = Pipeline([
    ('selectGenres', DFTransform(lambda x: x['genres'], True))
    ,('stringToArray', StringToArray('|'))
    ,('explodeAndLabel', ArrayExplodePivot())
])

In [243]:
numericalPipeline = Pipeline([
    ('selectNumerical', DFTransform(lambda x: x.select_dtypes(exclude=['object']))),
    ('impure', DFTransform(lambda x: x.fillna(x.mean()))),
    ('normalize', DFTransform(lambda x: x.div(x.max())))
])

In [244]:
def toCategorical(X):
    for col in X.columns.values.tolist():
        X[col] = X[col].astype('category', categories= list(set(X[col].values.tolist())))
    return X

## objects are passed by reference (scalars as copy): keep that in mind
def add_missing_dummy_columns( d, columns ):
    missing_cols = set( columns ) - set( d.columns )
    for c in missing_cols:
        d[c] = 0

# plotkeywords can be treated similar to genres
categoricalPipeline = Pipeline([
    ('dropColumns', DFTransform(lambda x: x.drop(['genres','movie_imdb_link', 'imdb_score', 'plot_keywords'],1))),
    ('selectCategorical', DFTransform(lambda x: x.select_dtypes(include=['object']))),
    ('impure', DFTransform(lambda x: x.apply(lambda x:x.fillna(x.value_counts().index[0])))),
    ('transformToCategorical', DFTransform(lambda x: toCategorical(x))),
    ('addMissingCols', AddMissingCategorialColumns()),
    ('labelBinarize', DFTransform(lambda x: pd.get_dummies(x)))
])

In [161]:
from sklearn.pipeline import FeatureUnion
from sklearn.decomposition import PCA
from sklearn.decomposition import KernelPCA
from sklearn.ensemble import RandomForestRegressor

#completePipeline =
estimators = [('linear_pca', PCA()), ('forest', RandomForestRegressor(n_jobs=4))]
#features = FeatureUnion([('1', categoricalPipeline), ('2',numericalPipeline)])
features = FeatureUnion([('1', categoricalPipeline), ('2',numericalPipeline)])
#finalPipe = Pipeline([('linear_pca', PCA()),('forest', RandomForestRegressor(n_jobs=4))])

finalPipe = Pipeline([('featureSelection', features), ('rf',RandomForestRegressor(n_jobs=4) )])

In [162]:
from sklearn.model_selection import train_test_split
X, y = df, df['imdb_score']
#X_feat = features.transform(X)
X_train, X_test, y_train, y_test = train_test_split( X, df['imdb_score'], test_size=0.2, random_state=42)

In [163]:
#finalPipe.fit(X_train, y_train)
genrePipeline.fit_transform(X_train).as_matrix().shape
#genrePipeline.fit_transform(X_train).head()
numericalPipeline.fit_transform(X_train).as_matrix().shape
categoricalPipeline.fit_transform(X_train).as_matrix().shape
#categoricalPipeline.fit_transform(X_train).columns.values.tolist()
#pd.DataFrame(features.transform(X_train)).head()
print("test dataset")
genrePipeline.transform(X_test).as_matrix().shape
#genrePipeline.fit_transform(X_train).head()
numericalPipeline.transform(X_test).as_matrix().shape
categoricalPipeline.transform(X_test).as_matrix().shape
print("missing col")
#missing_cols = set( train.columns ) - set( test.columns )
#finalPipe.fit(X_train, y_train)

#X_train

#finalPipe.predict(X_test)

(4034, 26)

(4034, 16)

AttributeError: 'NoneType' object has no attribute 'transform'

In [39]:
from sklearn.metrics import accuracy_score

In [279]:
y_pred = finalPipe.predict(X_test)

In [280]:
pd.DataFrame(y_pred).head()

      0
0  7.12
1  7.01
2  6.64
3  6.85
4  6.06

In [281]:
finalPipe.score(X_test, y_test)

0.82563613293367122

In [1]:
from hpsklearn import HyperoptEstimator, svc

WARN: OMP_NUM_THREADS=None =>
... If you are using openblas if you are using openblas set OMP_NUM_THREADS=1 or risk subprocess calls hanging indefinitely

In [2]:
df2 = pd.DataFrame({'foo': ['one','one','one','two','two','two'],
                       'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                       'baz': [1, 2, 3, 4, 5, 6]})
df2

  bar  baz  foo
0   A    1  one
1   B    2  one
2   C    3  one
3   A    4  two
4   B    5  two
5   C    6  two

In [5]:
df2.pivot(columns='bar', values='baz')
df2.pivot(index='foo', columns='bar', values='baz')

bar    A    B    C
0    1.0  NaN  NaN
1    NaN  2.0  NaN
2    NaN  NaN  3.0
3    4.0  NaN  NaN
4    NaN  5.0  NaN
5    NaN  NaN  6.0

bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [71]:
arrayExplode = ArrayExplodePivot()
stringToArray = StringToArray('|')

In [72]:
df_new = stringToArray.fit_transform(df.genres)

In [78]:
set(arrayExplode.__explode__(df_new).genres.values.tolist())

{'Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Thriller',
 'War',
 'Western'}

In [83]:
arrayExplode.__explode__(df_new).genres.astype('category')

0             Action
1          Adventure
2            Fantasy
3             Sci-Fi
4             Action
5          Adventure
6            Fantasy
7             Action
8          Adventure
9           Thriller
10            Action
11          Thriller
12       Documentary
13            Action
14         Adventure
15            Sci-Fi
16            Action
17         Adventure
18           Romance
19         Adventure
20         Animation
21            Comedy
22            Family
23           Fantasy
24           Musical
25           Romance
26            Action
27         Adventure
28            Sci-Fi
29         Adventure
            ...
14474         Horror
14475       Thriller
14476          Crime
14477          Drama
14478          Drama
14479         Sci-Fi
14480       Thriller
14481       Thriller
14482         Action
14483          Crime
14484          Drama
14485        Romance
14486       Thriller
14487          Crime
14488          Drama
14489         Comedy
14490          Drama
14491         Comedy
14492          Drama
14493          Crime
14494          Drama
14495        Mystery
14496       Thriller
14497          Drama
14498         Horror
14499       Thriller
14500         Comedy
14501          Drama
14502        Romance
14503    Documentary
Name: genres, Length: 14504, dtype: category
Categories (26, object): [Action, Adventure, Animation, Biography, ..., Sport, Thriller, War, Western]

In [292]:
train = pd.DataFrame({'A': ['a','a','b']})
test = pd.DataFrame({'A': ['a','a','c']})
test
train

   A
0  a
1  a
2  c

   A
0  a
1  a
2  b

In [293]:
train_dummies = pd.get_dummies(train)
test_dummies = pd.get_dummies(test)
test_dummies
train_dummies

   A_a  A_c
0    1    0
1    1    0
2    0    1

   A_a  A_b
0    1    0
1    1    0
2    0    1

In [306]:
addMissing = AddMissingCategorialColumns(copy=True)

In [307]:
addMissing.fit(train_dummies)
test = addMissing.transform(train_dummies)

In [308]:
train_dummies
test_dummies

   A_a  A_b
0    1    0
1    1    0
2    0    1

   A_a  A_c
0    1    0
1    1    0
2    0    1

In [309]:
addMissing.transform(test_dummies)

   A_a  A_b
0    1    0
1    1    0
2    0    0

In [310]:
test_dummies

   A_a  A_c
0    1    0
1    1    0
2    0    1